<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Some Website</title>
</head>
<body>
<b> Header is :- {{> header}} </b>
<p>Welcome Message - {{welcomeMessage}} </p>
<p> Welcome Message in Uppercase - {{changeCase welcomeMessage}} </p>
<p> Welcome Message in Lowercase - {{changeCaseLower welcomeMessage}} </p>
The Students are from : <b> {{studentDetails}} </b>
<p> Footer </p>
{{> footer}}
</body>
</html>
