<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Landing Page</title>
</head>
<body>
<header>
{{welcomeMessage}}
</header>
<h1>{{pageTitle}}</h1>
<p> The students belongs to {{studentDetails}} department </p>
<footer>
<p>Copyright {{currentYear}}</p>
</footer>
</body>
</html>
